<div class="button-group">
  <button class="btn" (click)="open(myform,'create')" >
    <i class="fa fa-plus"></i>
    <span class="icon-label">Create</span>
  </button>
  <button class="btn" (click)="open(myform,'edit')">
    <i class="fa fa-pencil"></i>
    <span class="icon-label">Update</span>
  </button>
  <button class="btn" (click)="deleteAction()">
    <i class="fa fa-trash"></i>
    <span class="icon-label">Delete</span>
  </button>
</div>
<div style="width: 100%; height: 500px;">
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      class="ag-theme-alpine"
      rowSelection="single"
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      [getRowId]="getRowId"
      [pagination]="true"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>


  <ng-template #myform let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ dialogHeader }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="submitAction()">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" formControlName="password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary"(click)="modal.dismiss('Close click')">Cancel</button>
        </div>
      </form>>
    </div>
  </ng-template>
  
  
  