
    <div class="center">
        <!-- Button to clear selection -->
        <!-- AG Grid Angular Component -->
     <ag-grid-angular
     #serverside
     style="width:100%; height: 92%; margin: 0 auto;"
     class="ag-theme-alpine"
     [columnDefs]="columnDefs"
     [defaultColDef]="defaultColDef"
     [pagination]="true"
     [rowData]="rowData"
     [rowSelection]="'multiple'"
     [animateRows]="true"
     [rowModelType]="rowModelType"
     (gridReady)="onGridReady($event)"
   ></ag-grid-angular>
 </div>


